{% extends "base3.html" %}
{% load staticfiles %}
{% block title %}Featured Projects{% endblock title %}

{% block content %}
<!--List of videos -->
<div class="services">					
    <div class="container">
		 <div class="service-top">
        	<h3>Property Details</h3>
        	

        	<div class="row">
        		<div class="col-md-8">
        		<div class="fur1">
		        	<h6 class="fur-name" style="text-align: center;"><a>{{ instance.title }}</a></h6>
		        </div>
        			<img class="img-responsive" src="{{ instance.house_image.url }}" alt=""/>
        		</div>

        		<div class="col-md-4">
        			{% if instance.floor_image %}
        			<div class="fur1">
		        	<h6 class="fur-name" style="text-align: center;"><a>Floor Plan</a></h6>
		        	</div>
        			<img class="img-responsive" src="{{ instance.floor_image.url }}" alt=""/>
        			{% endif %}
        		</div> 	
        	</div>
	        <div class="row">
	        	<div class="col-md-8">
	                <div class="fur">
	                    <div class="fur1">
		                    <br>
		                    <h4 class="fur-name">{{ instance.description|safe }}</h4>
	                    	<br>
	                       	<!-- <h4>State: {{ instance.state }}</h4>
	                       	<br>
	                       	<h4>Address: {{ instance.address }}</h4>
	                       	<br> -->
	                    	<div class="contact-top1" style="text-align: center;">
		  						<h4>Payment Plan</h4>
		  					</div>
	                    	<table class="table table-bordered  table-striped  table-hover">
		                	<thead class="thead-default">
		                	<tr>
							<th>MONTHS</th><th>PERCENTAGE</th><th>INITIAL PAYMENT (&#x20A6;)</th><th>INSTALLMENT (&#x20A6;)</th><th>BALLANCE (&#x20A6;)</th><th>TOTAL PAYMENT (&#x20A6;)</th>
							</tr>
							</thead>
							<tbody>
		                	{% for plan in price_plan %} 

							<tr class="table-info">
							<td class="table-info">{{ plan.months }}</td>
							<td>{{ plan.percentage }}%</td>
							<td>{{ plan.initial_pay }}</td>
							<td>{% if plan.installment == 0 %} flexible {% else %} {{ plan.installment }} {% endif %}</td>
							<td>{{ plan.balance }}</td>
							<td>{{ plan.total_price }}</td>
							</tr>
		                                       
		                    {% endfor %}
		                    </tbody>
		                    </table>

		                    <!-- <div class="contact-top1" style="text-align: center;">
		  						<h5>Other De Plan</h5>
		  					</div> -->
	                       	
	                       	<a href="{% url 'home' %}" class="hvr-sweep-to-right more" >Back to Home</a>
	                    </div> 
	                </div>	

	                	
	            </div>
	            <div class="col-md-4">
	            	<div class="contact-top1" style="text-align: center;">
  						<h4>Other Properties</h4>
  					</div>

  					{% for project in projects %}
  					 <div class="service-top1">
	                	
				  	{% if project.house_image %}

				      <a href="{{ project.get_absolute_url }}" ><img src="{{ project.house_image.url }}" class="img-responsive" /></a>
				    
				    {% endif %}
				    <br>
				    <div  class="price-top">
	                	<a href="{{ project.get_absolute_url }}">
	                		<h4 style="text-align: left;">{{ project.title }}</h4>
	                	</a>
	                	<h4 style="text-align: left;">Price:  &#x20A6;{{ project.total_price}}</h4>
	                	<h5 style="text-align: left;">{{ project.address }}</h5>
	                	<br>
	                </div>
				    </div>
				    {% endfor %}

  				</div>	                 
	        </div>
	    </div>
	</div>
</div>

{% endblock content %}


<!-- 	
<div class="buy-single-single" style="padding-top: 0px;">
<div class="col-md-12 single-box">
				
	       <div class=" buying-top">	
				<div class="flexslider">
				  <ul class="slides">
				  	{% for project in projects %}
				  	{% if project.house_image %}
				    <li data-thumb="{{ project.house_image.url }}">
				      <a href="{{ project.get_absolute_url }}" ><img src="{{ project.house_image.url }}"/></a>
				    </li>
				    {% endif %}
				    {% endfor %}
				  </ul>
				</div>

				 ***FlexSlider***
				  <script defer src="{% static 'real/js/jquery.flexslider.js' %}"></script>
				<link rel="stylesheet" href="{% static 'real/css/flexslider.css' %}" type="text/css" media="screen" />

				<script>
				// Can also be used with $(document).ready()
				$(window).load(function() {
				  $('.flexslider').flexslider({
				    animation: "slide",
				    controlNav: "thumbnails"
				  });
				});
				</script>
			</div>
			
		</div>
	
		<div class="clearfix"> </div>
		</div>
