{% extends "base3.html" %}
{% block title %}Updates{% endblock title %}

{% block content %}
<!--List of videos -->
<div class="services">					
    <div class="container">

        <div class="service-top">
        	
        	
		    

        	<h3>Project's Updates</h3>
        	<p style="padding-bottom: 30px;">Check out the progress</p>
        	
			
                
				    
			    
    
<img src="{{ instance.image.url }}" class="img-responsive"> <br>

                <div class="services-grid">
                	{% for property in all_updates %}
                	<div class="col-md-12 service-top1">
	                	<div  class="price-top">
	                	<a href="{{ property.get_absolute_url }}">
	                		<h4 style="text-align: left;">{{ property.progress_level }}</h4>
	                	</a>
	                	</div>
	                	{% if property.images %}
	                	<img src="{{ property.images.url }}" class="img-responsive"> <br>
	                	{% endif %}
	                	</div>
	                	
					{% endfor %}
				</div>	
		</div>

	</div>
	

</div>


{% endblock content %}