{% extends 'base3.html' %}
{% load staticfiles %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'css/baguetteBox.min.css' %}"/>
<style>
        div.gallery {
            border: 1px solid #ccc;
            position: relative;
        }
        
        div.gallery:hover {
            border: 1px solid #777;
        }
        
        div.gallery img {
            width: 100%;
            height: auto;
        }
        
        div.desc {
            padding: 15px;
            text-align: center;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .responsive {
            padding: 0 6px;
            float: left;
            width: 24.99999%;
        }
        
        @media only screen and (max-width: 700px) {
            .responsive {
                width: 49.99999%;
                margin: 6px 0;
            }
        }
        
        @media only screen and (max-width: 500px) {
            .responsive {
                width: 100%;
            }
        }
        
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
        .container .overlay {
			position: absolute; /* Position the background text */
			bottom: 0; /* At the bottom. Use top:0 to append it to the top */
			background: rgb(0, 0, 0); /* Fallback color */
			background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
			color: #f1f1f1; /* Grey text */
			width: 100%; /* Full width */
			padding: 20px; /* Some padding */
			transition: .5s ease;
  			opacity:.7;
		  }
		.container:hover .overlay {
			opacity: 1;
		}
		h4 {
			text-align: center;
		}
</style>
{% endblock extra-css %}

{% block title %}Construction Story{% endblock title %}

{% block content %}

<div class="services">
	<div class="container">
		<div class="service-top">
			<h3>Construction Story</h3>
			<p>{{ page.intro|richtext }}</p>
		
			<div class="services-grid">
				<div class="row">
					<br />
					{% for post in stagepages %}
					<div class="responsive">
						<div class="gallery">
							<a href="{% pageurl post %}">
								{% image post.specific.pic fill-370x235 %}
							</a>
							<div class="overlay">
								<h4>{{post.title}}</h4>
								<p>
									({{post.specific.stage_images.count}} pics)
								</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
</div>
</div>
</div>
{% endblock content %}

{% block gmap %}{% endblock gmap %}
