{% extends "base3.html" %}
{% load staticfiles %}
{% block title %}About Us {% endblock title %}

{% block content %}

<div class=" banner-buying" style=" background: url('/static/images/5.jpg') no-repeat;">
	<div class=" container">
	<h3><span>Abou</span>t Us</h3> 
	<!--feature3.jpeg-->
	<div class="clearfix"> </div>
		<!--initiate accordion-->	
	</div>
</div>
<!--//header built with modern facilities and international architechural standards powered with top notch finishing Each unit comes its unique view and good spacial arrangement OT Olive homes and properties is an urban real estate development, investment and management firm based in Lagos, Nigeria. with the visionary leadership of an exellent team of directors mananaging OT Olive Nigeria Limited, which was incorporated in 2010 having operated in the oil and gas sector, transportation, electronics sector and the microfinance sector.-->

<div class="about">	
	<div class="about-head">
		<div class="container">
			<h3>About Us</h3>
				<div class="about-in">
					<a href=""><img src="{% static 'images/feature2.jpeg' %}" alt="image" class="img-responsive ">	</a>			
					<h6> <a>OT. Olive Homes and Properties</a></h6>
					<p style="text-align: justify;">OT. Olive homes and properties is an urban real estate developement, investment and management firm based in Lagos, Nigeria. With the visionary leadership of an excellent team of directors managing OT Olive Nigeriia Limited, which was incorporated in 2010, having operated in the oil and gas sector, transportation, electronics and the microfinance sector.<br>

                    <br>Based on our passion to provide a quality service that is unique to the industry and deliver a distinct competitive advantage. The property management team aims to achieve high owners satisfaction rates in the industry by providing superior services.</p>
				</div>
		</div>
	</div>
	<!---->
	<div class="about-middle">
		<div class="container">		
			<div class="col-md-8 about-mid">
				<h4>Our goal at OT. Olive Homes and Properties</h4>
				<h6><a>we are determined to capture sustainable opportunities for all of our properties</a> </h6>
                <h6><a>we are focused on quantifiable performance and continous improvements</a> </h6>
                <h6><a>We are commited to doing all the chunck of the work and leaving you to enjoy the benefits</a> </h6>
<!-- 
				<p >Hence we work tiredlesly to ensure that our properties are equiped with <br>
				<ol>
					<li>water Treatment Plant</li>
					<li>Adequate Parking Space for each Duples</li>
					<li>Optional Solar Power Systems</li>
					<li>Remote Automated Gate System</li>
					<li>Quality Tiles and good interior fininshing</li>
					<li>Good Access Roads</li>
					<li>C of O and all necessary documents</li>
				</ol>
				<br> this is all in a bid to capture sustainable opportunities for all our properties.</p>
 -->
			</div>
			<div class="col-md-4 about-mid1">
				<p>Our passion to provide quality service is unique in the industry and delivers a distinct competitive advantage </p>
				<!-- <a href="blog_single.html" class="hvr-sweep-to-right more-in">READ MORE</a> -->
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!---->
	
<!--service-->
<!-- <div class="services">
    <div class="container">
        <div class="service-top">
            <h3>Join Us Today</h3>
            <p>Our management team has made life easier! <br>Here are few of the benefits packed in stock for you:</p>
        </div>
        <div class="services-grid">
            <div class="col-md-6 service-top1">
                <div class=" ser-grid"> 
                    <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-user"> </a>
                </div>
                <div  class="ser-top">
                    <h4>You need a home</h4>
                    <p>Buying your first home can be daunting, but we can show you that it doesn't have to be. In fact buying a new home with us can be quick, easy and fun.
                    We’ll also help you manage your money, find a mortgage and make light work of solicitors, offers, surveys and contracts. So you can move in with the minimum of hassle.
                    <br>
                    <a href="">First Time Buyers Advice > </a> </p>
                </div>
                <div class="clearfix"> </div>
           </div>
            <div class="col-md-6 service-top1">
                <div class=" ser-grid"> 
                    <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-leaf"> </a>
                </div>
                <div  class="ser-top">
                    <h4>Growing family</h4>
                    <p>If you’re looking for a home with more space, or just one with a garden, we’ll help you find it fast, and steer clear of time-consuming chains.
                    We’ll also show you how to sell your old home, get a mortgage, understand the legal side and stay organised on the day of the move.<br>
                    <a href="">Find out more > </a></p>
                </div>
                <div class="clearfix"> </div>
            </div>
        <div class="clearfix"> </div>
     </div>
     <div class="services-grid">
            <div class="col-md-6 service-top1">
                <div class=" ser-grid"> 
                    <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-cog"> </a>
                </div>
                <div  class="ser-top">
                    <h4>Cutting cost</h4>
                        <p>If you’re looking to reduce your outgoings, free up extra income or just move to a more manageable home, we can help you make a fresh start.From finding a new home, to marketing your old home, we’ll tell you everything you need to know about solicitors, surveys and selling. <br>
                        <a href="">Find out more > </a></p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 service-top1">
                <div class=" ser-grid"> 
                    <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-file"> </a>
                </div>
                <div  class="ser-top">
                    <h4>Investment Opportunities</h4>
                    <p>Whether you are looking to add to your property portfolio or invest in property for the first time, we can help you make the most of your money.From legal advice and assistance with furnishing your property, to help sourcing buy-to-let mortgages, we offer investors and landlords a wide range of services and assistance.<br>
                    <a href="">Find out more > </a></p>
                </div>
                <div class="clearfix"> </div>
            </div>
          <div class="clearfix"> </div>
        </div>
    </div>
</div> -->
<!--//services-->



</div>

{% endblock content %}