{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Otolive Homes || {% block title %}{% endblock title %}</title>

<link href="{% static 'real/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'real/css/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'real/css/flexslider.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'real/css/styles.css' %}" rel="stylesheet">
<link href="{% static 'real/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />	
<link href="{% static 'real/css/popup-box.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="{% static 'real/css/swipebox.css' %}"> 
<link href="{% static 'real/css/font-awesome.css' %}" rel="stylesheet">

{% block extra-css %}
{% endblock extra-css %}
<!-- - - ANIME CSS - - 
<link href="{% static 'anime/css/JiSlider.css' %}" rel="stylesheet">
<link href="{% static 'anime/css/easy-responsive-tabs.css' %}" rel="stylesheet">
<link href="{% static 'anime/css/lsb.css' %}" rel="stylesheet">
<link href="{% static 'anime/css/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'anime/css/style.css' %}" rel="stylesheet">
<link href="{% static 'anime/css/style7.css' %}" rel="stylesheet">

 - - ANIME JS - - 
<script src="{% static 'real/js/JiSlider.js' %}"></script>
<script src="{% static 'real/js/SmoothScroll.min.js' %}"></script>
<script src="{% static 'real/js/bootstrap-3.1.1.min.js' %}"></script>
<script src="{% static 'real/js/classie.js' %}"></script>
<script src="{% static 'real/js/demo7.js' %}"></script>
<script src="{% static 'real/js/easing.js' %}"></script>
<script src="{% static 'real/js/modernizr-2.6.2.min.js' %}"></script>
<script src="{% static 'real/js/move-top.js' %}"></script>
<script src="{% static 'real/js/owl.carousel.js' %}"></script>

 -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'real/js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
<script src="{% static 'real/js/jquery.flexisel.js' %}"></script>
<script src="{% static 'real/js/jquery.flexslider.js' %}"></script>
<script src="{% static 'real/js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
<script src="{% static 'real/js/jquery.min.js' %}"></script>
<script src="{% static 'real/js/responsiveslides.min.js' %}"></script>
<script src="{% static 'real/js/scripts.js' %}"></script>
<script src="{% static 'real/js/jquery-2.2.3.min.js' %}"></script>



<!--//menu-->
<!--theme-style-->

<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

<script type="application/x-javascript">
	addEventListener("load", function() { 
		setTimeout(hideURLbar, 0); 
	}, false);

	function hideURLbar(){
		window.scrollTo(0,1); 
	} 
</script>
<!-- slide -->

   <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
</head>
<body >
<!--header-->
{% include 'header1.html' %}
{% block content %}


<script type="text/javascript">
{%block extra-js %}
{% endblock extra-js %}
</script> 
{% endblock content %}
<!--content-->
<!--footer-->
{% include "footer.html" %}
<!--//footer-->

  <!-- FlexSlider -->
  <script defer src="{% static 'real/js/jquery.flexslider.js"></script>
  <script type="text/javascript">
  $(window).load(function(){
    $('.flexslider').flexslider({
    animation: "slide",
    start: function(slider){
      $('body').removeClass('loading');
    }
    });
  });
  </script>
  <!-- End-slider-script --> 
  <!-- start-smooth-scrolling --> 
  <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){   
          event.preventDefault();
      
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });
  </script>
  <!-- //end-smooth-scrolling --> 
  <!-- menu-js -->  
  <script src="{% static 'real/js/modernizr.js' %}"></script> <!-- Modernizr -->  
  <script src="{% static 'real/js/menu.js' %}"></script> <!-- Resource jQuery --> 
  <!-- //menu-js -->  
  <!-- Kick off Filterizr -->
  <script src="{% static 'real/js/jquery.filterizr.js' %}"></script>  
  <script src="{% static 'real/js/controls.js' %}"></script> 
  <script type="text/javascript">
    $(function() {
      //Initialize filterizr with default options
      $('.filtr-container').filterizr();
    });
  </script> 
  <!-- swipe box js -->
  <script src="{% static 'real/js/jquery.swipebox.min.js' %}"></script> 
  <script type="text/javascript">
      jQuery(function($) {
        $(".swipebox").swipebox();
      });
  </script> 
  <!-- //swipe box js -->   
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'real/js/bootstrap.js' %}"></script>
</body>
</html>