{% extends "base3.html" %}
{% load staticfiles %}
{% block title %}Contact {% endblock title %}



{% block content %}
 

<div class=" banner-buying">
	<div class=" container">
	<h3><span>Cont</span>act</h3> 
	<!---->
	
	<div class="clearfix"> </div>
		<!--initiate accordion-->
    		
	</div>
</div>
<!--//header-->

<!--contact-->
<div class="contact">
	<div class="container">
		<h3>Contact</h3>
	 <div class="contact-top">
		<div class="col-md-6 contact-top1">
		  <!-- <h4 > Info</h4>
          <p class="text-contact">Our passion to provide quality service is unique in the industry and delivers a distinct competitive advantage. The property management team aims to help owners gain high satisfaction in the industry by providing superior services.<br>Contact us today to know more</p> -->
		  <div class="contact-address">
		  	<div class="col-md-6 contact-address1">
			  	 <h5>Address</h5>
	             <p><b>OT.Olive Homes Nigerian Limited</b></p>
	             <p>3, CMD Road, Off Ikosi Road</p>
	             <p>Magodo, Lagos</p>	
		  	</div>
		  	<div class="col-md-6 contact-address1">
			  	  <h5>Email Address </h5>
	             <p>Email :<a href="malito:info@otolivehomes.com"> info@otolivehomes.com</a></p>
		  	</div>
		  	<div class="clearfix"></div>
		  </div>
		  <div class="contact-address">
		  	<div class="col-md-6 contact-address1">
			  	 <h5 >Phone </h5>
	             <p>Mobile1 : 0818 800 3366</p>
	             <p>Mobile2 : 0818 800 2266</p>
	        </div>
	        <div class="col-md-6 contact-address1">
			  	 <h5 >Website </h5>
	             <p>www.otolivehomes.com</p>	             
	        </div>

		  	<div class="clearfix"></div>
		  </div>
		</div>
		<div class="col-md-6 contact-right">
	
            <form action="" method="POST">{% csrf_token %}
            {% if form.non_field_errors %}
	            {% for error in form.non_field_errors %}
	                <div class="alert alert-danger">
	                    {{ error }}
	                </div>
	            {% endfor %}
	        {% endif %}

	        	<div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                             <label for="id_subject">Subject</label>
                            {{ form.subject.errors }}
                            {{ form.subject }}
                        <!-- <input type="text" class="form-control" placeholder="Subject" id="subject" required data-validation-required-message="Please enter the Subject."> -->
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="row control-group">                
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="id_name">Name</label>
                            {{ form.name.errors }}
                            {{ form.name }}
                        <!-- <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your Name."> -->
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="row control-group">                
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="id_name">Email</label>
                            {{ form.email.errors }}
                            {{ form.email }}
                        <!-- <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your Name."> -->
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="id_subject">Message</label>
                            {{ form.message.errors }}
                            {{ form.message }}
                        <!-- <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a Message."></textarea> -->
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
 
                <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                
			   <!-- <div class="col-md-6 col-md-offset-3 text-center">
			   <input type="submit" value="Submit">
                    <button type="submit"  class="btn btn-block btn-success ">Send!</button>
               </div> -->
			</form>
		</div>
		<div class="clearfix"> </div>
</div>
	</div>
	<!-- <div class="map">
	     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
	</div> -->
</div>
<!--//contact-->

{% block extra-js %}
<!-- <script>

  $(function () {

    $('#id_name').attr('placeholder', 'Name');
    $('#id_name').addClass('form-control-feedback');

    $('#id_subject').attr('placeholder', 'Subject');
    $('#id_subject').addClass('form-control');

    $('#id_email').attr('placeholder', 'Email');
    $('#id_email').addClass('form-control');

    $('#id_message').attr('placeholder', 'Message');
    $('#id_message').addClass('form-control');

    $('#id_wallet').attr('placeholder', 'Bitcoin Wallet ID');
    $('#id_wallet').addClass('form-control');

    $('#id_country').attr('placeholder', 'Country');
    $('#id_country').addClass('form-control');

    $('#id_city').attr('placeholder', 'City');
    $('#id_city').addClass('form-control');
    
  });
 
</script>
 -->
<!-- <script type="text/javascript">
     alert('francis');
     alert('the world is a beautiful with ladies')
</script>
 -->
{% endblock extra-js %}
{% endblock content %}

