{% load staticfiles %}
   <div class="footer">
    <div class="container">
        <div class="footer-top-at">
            <div class="col-md-4">
                <div class="amet-sed" style="width: 100%; text-align: center;">

                <h4>GET IN TOUCH</h4>
                <ul class="nav-bottom">
                    <li>Address: 3 CMD Road, Off Ikosi Road, Magodo Lagos</li>
                    <li>Telephone: 08188003366, 08188002266</li>   
                    <li>
                        <p>Website: <a href="http://otolivehomes.com/">www.otolivehomes.com</a></p>
                        <p>Email: <a href="malito:info@otolivehomes.com">info@otolivehomes.com</a></p>
                    </li>
                    
                </ul> 
                </div>
 
            </div>
            <div class="col-md-8">
                <div class="amet-sed " style="width: 100%;">
                <h4 style="text-align: center;">QUICK CONTACT</h4>
                   
            <form action="{% url 'contact' %}" method="POST">{% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

                <div class="row control-group">
                <div class="form-group col-md-6 floating-label-form-group controls">
                    <div class="form-group col-md-12 floating-label-form-group controls">
                            <label for="id_name">Email</label>
                            <!-- {{ form.email.errors }} -->
                            <!-- {{ form.email }} -->
                        <input type="text" class="form-control" placeholder="Email" id="Email" required data-validation-required-message="Please enter your Name.">
                        <p class="help-block text-danger"></p>
                    </div>

                    <div class="form-group col-md-12 floating-label-form-group controls">
                             <label for="id_subject">Subject</label>
                            <!-- {{ form.subject.errors }} -->
                            <!-- {{ form.subject }} -->
                        <input type="text" class="form-control" placeholder="Subject" id="subject" required data-validation-required-message="Please enter the Subject.">
                        <p class="help-block text-danger"></p>
                    </div>

                    <div class="form-group col-md-12 floating-label-form-group controls">
                            <label for="id_name">Name</label>
                            <!-- {{ form.name.errors }} -->
                            <!-- {{ form.name }} -->
                        <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your Name.">
                        <p class="help-block text-danger"></p>

                        
                    </div>    
                    
                </div>

                    <div class="form-group col-md-6 floating-label-form-group controls">
                            <label for="id_subject">Message</label>
                            <!-- {{ form.message.errors }} -->
                            <!-- {{ form.message }} -->
                        <textarea rows="10" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a Message."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>



                <div class="row">
                <!-- <div class="container"> -->
                    <h4 class="grid2" style="text-align: center;">
                        <button type="submit" class="btn btn-success btn-lg">Send</button>
                    </h4> 
                    <!-- </div>                            -->
                </div>
                
               <!-- <div class="col-md-6 col-md-offset-3 text-center">
               <input type="submit" value="Submit">
                    <button type="submit"  class="btn btn-block btn-success ">Send!</button>
               </div> -->
            </form>
            </div>
            </div>

            <!-- <div class="col-md-3 amet-sed ">
                <h4>Property Services</h4>
                   <ul class="nav-bottom">
                        <li><a href="">Residential Property</a></li>
                        <li><a href="">Commercial Property</a></li>
                        <li><a href="">Login</a></li>
                        <li><a href="">Register</a></li>
                        <li><a href="">Short Codes</a></li> 
                    </ul>   
                    <ul class="social">
                        <li><a href=""><i> </i></a></li>
                        <li><a href=""><i class="gmail"> </i></a></li>
                        <li><a href=""><i class="twitter"> </i></a></li>
                        <li><a href=""><i class="camera"> </i></a></li>
                        <li><a href=""><i class="dribble"> </i></a></li>
                    </ul>
            </div> -->
        <div class="clearfix"> </div>
    </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
<!--            <div class="col-md-6 footer-logo">
                <h2 ><a href="{% url 'home' %}">OT. Olive homes</a></h2>
                    <div class="col-md-12  amet-sed" style="text-align: left;">
                         <p>Address: 3 CMD Road, Off Ikosi Road, Magodo Lagos</p>
                        <p>Telephone: 08188003366, 08188002266</p>
                        <p>Website: <a href="http://otolivehomes.com/">www.otolivehomes.com</a></p>
                        <p>Email: <a href="malito:info@otolivehomes.com">info@otolivehomes.com</a></p>
                    </div>
            </div>

  <div class="col-md-5 footer-logo">
                    <div class="col-md-12  amet-sed" style="text-align: center;">
                        <p>Address: 3 CMD Road, Off Ikosi Road, Magodo Lagos</p>
                        <p>Telephone: 08188003366, 08188002266</p>
                        <p>Website: <a href="http://otolivehomes.com/">www.otolivehomes.com</a></p>
                        <p>Email: <a href="malito:info@otolivehomes.com">info@otolivehomes.com</a></p>
                    </div>
            </div> -->

            <div class="footer-class">
                <p  style="text-align: center;">© 2017 <a href="{% url 'home' %}">OT. Olive Homes.</a> All Rights Reserved</p>
                <!-- <p><a href="http://w3layouts.com/" target="_blank">W3layouts Template</a> </p> 
                    <div class="col-md-12  amet-sed" style="text-align: right;">
                         <p>Address: 3 CMD Road, Off Ikosi Road, Magodo Lagos</p>
                        <p>Telephone: 08188003366, 08188002266</p>
                        <p>Website: <a href="http://otolivehomes.com/">www.otolivehomes.com</a></p>
                        <p>Email: <a href="malito:info@otolivehomes.com">info@otolivehomes.com</a></p>
                    </div> -->
            </div>

        <div class="clearfix"> </div>
        </div>
    </div>
</div>
