{% load static wagtailimages_tags wagtailsimplegallery_tags %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'css/baguetteBox.min.css' %}"/>
<style>
    img {
        border-radius: 8px;
        border: 2px solid #ccc;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-bottom: 20px;
    }
</style>
{% endblock extra-css %}

<div class="col-md-12">
  <div class="row">
      {% for img in gallery_images %}
      <div class="col-md-3">
          {% image img width-260 as img_thumb %}
          <span class="gallery-thumbnail-container">
            <a href="{{ img|original_url }}" title="{{ img_thumb.alt|hide_num_order }}">
                <img src="{{ img_thumb.url }}" alt="{{ img_thumb.alt }}" class="gallery-thumbnail">
            </a>
            <link rel="preload" href="{{ img|original_url }}">
          </span>
      </div>
      {% endfor %}
  </div>
</div>

  {% if page.use_lightbox or use_lightbox %}
  <script src="{% static 'js/baguetteBox.min.js' %}"></script>
  <script type="text/javascript">
    baguetteBox.run('.gallery-container');
  </script>
  {% endif %}