{% extends "base3.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailsimplegallery_tags %}

{% block title %}{{ page.seo_title }}{% endblock %}

{% block content %}

<div class="services">
	<div class="container">
		<div class="service-top">
			<h3>{{ page.intro_title }}</h3>
			<p>{{ page.intro_text|richtext }}</p>
		</div>
	</div>
</div>

<div class="services-grid">
	<h2 class="fur-name" style="text-align: center; color:#27da93;"> {{post.title}}</h2><br>

	<div class="row">
        <br/>
    {% include 'wagtail_simple_gallery/simple_gallery.html' %}
        
		{% for pic in post.specific.stage_images.all %}
		<div class="col-md-3">{% image pic fill-370x235 %}</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}